* {
    list-style-type: none;
    text-decoration: none !important;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #455a64;
    color: white !important;
}

.movie-img {
    height: 150px !important;
}

.logo {
    position: relative;
    transform: .5s;
}

.logo span {
    position: absolute;
    color: white;
    opacity: 0
}

.logo span svg {
    font-size: 18px;
}

.logo span:first-of-type {
    bottom: 10px;
    right: 51%;
}

.logo span:last-of-type {
    bottom: 10px;
    right: 35%;
}

.shown {
    opacity: 1 !important;
}

.navbar-brand {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    transition: 1s;
}

.navbar-nav li a,
.navbar-brand {
    filter: drop-shadow(2px 3px 5px black);
}

.navbar-brand::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 20%;
    height: 100%;
    background-color: rgba(244, 105, 54, 0.57);
    transition: 2s;
    opacity: 0;
}

.navbar-brand:hover::before {
    left: 100%;
    opacity: 1;
    width: 0;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.navbar-toggler {
    border: 2px solid #ffc107;
}